@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@font-face {
    font-family: 'Roboto';
    src: url(/Assets/Roboto-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-image: url("/Assets/imgBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
}




/*----------------------------------------------
    START LOADING PAGE ANIMATION
----------------------------------------------*/
@keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  [transition-style="in:circle:center"] {
    animation: 3.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }
/*----------------------------------------------
    END LOADING PAGE ANIMATION
----------------------------------------------*/




html {
    scroll-behavior: smooth;
}




/*----------------------------------------------
    START scrollbar
----------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #D0D0D0;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #0000FF;
}
/*----------------------------------------------
    END scrollbar
----------------------------------------------*/




/*----------------------------------------------
    START nav
----------------------------------------------*/
.nav {
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    border-radius: 0 0 18px 18px;
    padding: 15px 200px;
    background: #000;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.4);
}

.nav, .nav .nav-links {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.nav .nav-links .mainLink {
    text-decoration: underline;
    text-decoration-color: #0000FF;
    text-decoration-thickness: 2px;
    text-underline-offset: 12px;
}

.nav .navLogoContainer {
    display: flex;
    align-items: center;
}

.nav .navLogoContainer .navLogo {
    max-width: 50px;
    max-height: 50px;
    transform: scale(1.9);
    cursor: pointer;
}

.nav .nav-links {
    column-gap: 24px;
    list-style: none;
}

.nav .nav-links a {
    transition: all 0.2s linear;
    color: #fff;
    text-decoration: none;
}
/*--------------------------  START ANIMATION HOVER  nav a  --------------------------*/
.nav .nav-links a:hover {
    transform: scale(1.1);
}

.nav .nav-links a {
    position: relative;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
    
.nav .nav-links a::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: #0000FF;
    height: 2px;
    transition: 0.2s ease-out;
}
    
.nav .nav-links a:hover::after {
    width: 100%;
}
/*--------------------------  END ANIMATION HOVER  nav a  --------------------------*/
.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}

.nav .navOpenBtn, .nav .navCloseBtn {
    display: none;
}
/*--------------------------  START REPONSIVE  nav  --------------------------*/
@media screen and (max-width: 1160px) {
    .nav {
        padding: 15px 100px;
    }
}

@media screen and (max-width: 950px) {
    .nav {
        padding: 15px 50px;
    }
}

@media screen and (max-width: 820px) {
    .nav .navOpenBtn, .nav .navCloseBtn {
        display: block;
        font-size: 22px;
    }
    .nav {
        padding: 15px 25px;
    }
    .nav .nav-links {
        position: fixed;
        justify-content: center;
        font-size: large;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        row-gap: 25px;
        flex-direction: column;
        background-color: #000;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
    }
    .nav .nav-links a {
        color: #fff;
    }
    .nav.openNav .nav-links {
        left: 0;
    }
    .nav.openNav .nav-links span {
        width: 41%;
        height: 0.1px;
        background-color: #D0D0D0
    }
    .nav .navOpenBtn {
        color: #fff;
        cursor: pointer;
    }
    .nav .navOpenBtn:hover {
        color: #0000FF;
    }
    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        cursor: pointer;
    }
    .nav .navCloseBtn:hover {
        color: #EE0808;
    }    
}
/*--------------------------  END REPONSIVE  nav  --------------------------*/
/*----------------------------------------------
    END nav
----------------------------------------------*/




/*----------------------------------------------
    START catchyTitleANDcatchyImgContainer
----------------------------------------------*/
.catchyTitleANDcatchyImgContainer {
    position: relative;
    text-align: end;
}

.catchyTitle {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.catchyTitle h1 {
    color: #29F717;
    font-size: 96px;
    font-family: 'Roboto';
}

.catchyTitle h2 {
    color: #70e000;
    font-size: 64px;
    font-family: 'Roboto';
}

.catchyTitle h3 {
    color: #2bee58;
    font-size: 47px;
    font-family: 'Roboto';
}

.catchyTitle h4 {
    color: #80ED99;
    font-size: 25px;
    font-family: 'Roboto';
}

.catchyImg {
    display: flex;
    height: 580px;
    align-items: center;
    justify-content: flex-end;
    transform: translateX(-200px);
}

.catchyImg img {
    height: 450px;
    animation: float 6s ease-out infinite;
    opacity: 0.7;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*--------------------------  START REPONSIVE  catchyTitleANDcatchyImgContainer  --------------------------*/
@media (max-width: 1495px) {
    .catchyImg {
        transform: translateX(-180px);
    }
}

@media (max-width: 1440px) {
    .catchyImg {
        transform: translateX(-145px);
    }
}

@media (max-width: 1360px) {
    .catchyTitleANDcatchyImgContainer {
        text-align: start;
        margin-left: 21px;
    }
    .catchyImg {
        transform: translateX(-80px);
    }
}

@media (max-width: 1265px) {
    .catchyTitle h1 {
        font-size: 59px;
        width: max-content;
    }
    .catchyTitle h2 {
        font-size: 49px;
    }
    .catchyTitle h3 {
        font-size: 27px;
        margin-bottom: 39px;
    }
    .catchyTitle h4 {
        font-size: 27px;
    }
    .catchyImg img {
        height: 75%;
    }
}

@media (max-width: 1140px) {
    .catchyTitleANDcatchyImgContainer {
        text-align: start;
        margin-left: 21px;
    }
    .catchyImg img {
        height: 65%;
    }
}

@media (max-width: 969px) {
    .catchyImg {
        transform: translateX(-10px);
    }
}

@media (max-width: 830px) {
    .catchyTitle {
    top: 55%;
    left: 50%;
    }
    .catchyTitle h1 {
    font-size: 50px;
    width: max-content;
    }
    .catchyTitle h2 {
    font-size: 40px;
    }
    .catchyTitle h3 {
    font-size: 32px;
    margin-bottom: 15px;
    }
    .catchyTitle h4 {
    font-size: 23px;
    }
    .catchyImg {
    justify-content: center;
    transform: translateX(-1px);
    transform: translateY(-120px);
    }
    .catchyImg img {
    height: 200px;
    animation: float 6s ease-out infinite;
    opacity: 0.7;
    }
}

@media (max-width: 501px) {
    .catchyTitleANDcatchyImgContainer {
        text-align: start;
        margin-left: 21px;
    }
    .catchyTitle {
        top: 55%;
        left: 50%;
    }
    .catchyTitle h1 {
        font-size: 45px;
        width: max-content;
    }
    .catchyTitle h2 {
        font-size: 35px;
    }
    .catchyTitle h3 {
        font-size: 27px;
        margin-bottom: 15px;
    }
    .catchyTitle h4 {
        font-size: 18px;
    }
    .catchyImg {
        justify-content: center;
        transform: translateX(-1px);
        transform: translateY(-120px);
    }
    .catchyImg img {
        height: 200px;
        animation: float 6s ease-out infinite;
        opacity: 0.7;
    }
}
/*--------------------------  END REPONSIVE  catchyTitleANDcatchyImgContainer  --------------------------*/
/*----------------------------------------------
    END catchyTitleANDcatchyImgContainer
----------------------------------------------*/




/*----------------------------------------------
    START learnMoreORplayTheGame
----------------------------------------------*/
.learnMoreORplayTheGame {
    display: flex;
    justify-content: center;
}

.playTheGame a {
    color: #fff;
    font-size: medium;
    background-color: #0000FF;
    padding: 12px 25px 12px 25px;
    border: 1px solid #0000FF;
    border-radius: 8px 18px;
    cursor: pointer;
    margin-right: 15px;
    font-family: 'Roboto';
}

.playTheGame a:hover {
    transform: translateX(0px);
    transform: translateY(-0.25em);
    box-shadow: 3px 3px 5px #D0D0D0;
}

.learnMore a {
    color: #fff;
    font-size: medium;
    background-color: #000;
    padding: 12px 25px 12px 25px;
    border: 1px solid #D0D0D0;
    border-radius: 8px 18px;
    cursor: pointer;
    margin-left: 15px;
    font-family: 'Roboto';
}

.learnMore a:hover {
    background-color: #0000FF;
    border: 1px solid #0000FF;
    transform: translateX(0px);
    transform: translateY(-0.25em);
    box-shadow: 3px 3px 5px #D0D0D0;
}
/*--------------------------  START REPONSIVE  learnMoreORplayTheGame  --------------------------*/
@media (max-width: 1001px) {
    .learnMore a, .playTheGame a {
        padding: 9px 22px 9px 22px;
    }
}

@media (max-width: 550px) {
    .learnMore a, .playTheGame a {
        padding: 5px 15px 5px 15px;
    }
}
/*--------------------------  END REPONSIVE  learnMoreORplayTheGame  --------------------------*/
/*----------------------------------------------
    END learnMoreORplayTheGame
----------------------------------------------*/




/*----------------------------------------------
    START footer
----------------------------------------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin-top: 65px;
}

 footer p {
    font-size: 18px;
    padding: 18px;
    color: #D0D0D0;
    font-family: 'Roboto';
}
/*--------------------------  START REPONSIVE  footer  --------------------------*/
@media (max-width: 1001px) {
    footer p {
        font-size: 92%;
    }
}

@media (max-width: 550px) {
    footer p {
        font-size: 82%;
    }
}
/*--------------------------  END REPONSIVE  footer  --------------------------*/
/*----------------------------------------------
    END footer
----------------------------------------------*/